body{
    margin: 0;
    /* font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

img.logo {
    width: 50px;
}

a {
    all: unset;
    font-size: 18px;
    color: #E5E7EB;
}

p, h1 {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #1F2937;
    padding: 20px 15%;
}

.header-links{
    display: flex;
    gap: 16px;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 20px 15%;
    background-color: #1F2937;
    gap: 10%;
}

.main h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.text-container {
    display: flex;
    color: #E5E7EB;
}

img.main {
    width: 200px;
    padding: 0;
    position: relative;
}

button {
    margin-top: 10px;
    border-radius: 5px;
    padding: 3px 15px;
    border: none;
    background: #3882F6;
    color: white;
    font-size: 16px;
    width: fit-content;
}