body{
    margin: 0;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    all: unset;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #1F2937;
    padding: 20px 300px;
}

.header-links{
    display: flex;
    gap: 16px;
}